BASE_DATABASE_URL=postgres://<user>:<password>@db.prisma.io:5432/postgres?sslmode=require
DATABASE_URL_ARKTYPE_JSON=postgres://<user>:<password>@db.prisma.io:5432/demo_2025_02_18_arktype?sslmode=require
DATABASE_URL_ZOD_UNION=postgres://<user>:<password>@db.prisma.io:5432/demo_2025_02_18_zod?sslmode=require
DATABASE_URL_IDS=postgres://<user>:<password>@db.prisma.io:5432/demo_2025_02_18_ids?sslmode=require
